.spaceWrapper {
  display: flex;

  &.center {
    align-items: center;
  }

  &.first-center {
    align-items: flex-start;

    .firstNode {
      display: flex;
      align-items: center;

      &::after {
        content: '.';
        width: 0rpx;
        visibility: hidden;
      }
    }
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.inline {
    display: inline-flex;
  }
}
